@model ShoppingCenter.Models.Customer

<h2>@Model.Name</h2>
<ul>


    @if (Model.DOB.GetValueOrDefault()!= DateTime.MinValue)
    {
        <li>Birthday Date: @Model.DOB.GetValueOrDefault().ToShortDateString()</li>
    }

    <li>Is Subscriber:@Model.IsSubscribedToNewsLetter</li>
    <li>MemeberShip Type: @Model.MembershipType.Name</li>
    <li>Discount Rate： @Model.MembershipType.DiscountRate%</li>


</ul>
