@model ShoppingCenter.Models.Customer

<h2>@Model.Name</h2>
<table>
    <tr>
        <th>Is Subscriber</th>
        <th>MemeberShip Type</th>
        <th>Discount Rate</th>
    </tr>
    <tr>
        <td>@Model.IsSubscribedToNewsLetter</td>
        <td>@Model.MembershipTypeId</td>
        <td>@Model.MembershipType.DiscountRate%</td>
    </tr>
</table>
