
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FAQ</h2>
<br/>

<div class="card border-primary mb-3" style="width:100%">
    <div class="card-header">Place An Order</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Can I add an item after placing an order?</h5>
        <p class="card-text">
            Unfortunately you would not be able to add another item after successfully paid for the order.
            In events that you wish to add another item in your order, please do contact the seller using Shopee Chat and inform the seller that you wish to cancel the current order and make a new order.
        </p>
    </div>
</div>

<div class="card border-primary mb-3" style="width:100%">
    <div class="card-header">Payment and Shipping</div>
    <div class="card-body text-primary">
        <h5 class="card-title">
            What should I do when I see “This product does not support the selected shipping option” on the checkout page?
        </h5>
        <p class="card-text">
            If you see the error message “This product does not support the selected shipping option” when you
            check out your order, it may indicate a wrong or invalid postal code in your delivery address.
        </p>
    </div>
</div>
<div class="card border-primary mb-3" style="width:100%">
    <div class="card-header"> Secure Ordering & Payment Options</div>
    <div class="card-body text-primary">
        <h5 class="card-title">
            How do I add/edit my payment details?
        </h5>
        <p class="card-text">
            You can add or edit your payment details through Pure Juice website. You have to login into your account to edit or add your Bank Account or Card details.
        </p>
    </div>
</div>
<div class="card border-primary mb-3" style="width:100%">
    <div class="card-header">Returns & Refunds</div>
    <div class="card-body text-primary">
        <h5 class="card-title">
            When and how will I receive my refund?</h5>
        <p class="card-text">
            Once you have returned the item to us, we will check and acknowledge the return of the goods. Your refund will be processed if there is no further discussion.
        </p>
    </div>
</div>
​​

