@model ShoppingCenter.Models.HomePageViewModel


<table>
    <tr>
        <th>Name</th>
     
    </tr>


    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@Html.ActionLink(customer.Name,"Detail","Home",new { id = customer.Id },null)</td>           
        </tr>

    }
</table>
